:root {
	--color-bar-primary: rgb(127, 196, 196);
	--color-primary: rgb(55, 125, 125);
	--color-secondary: rgb(68, 68, 68);
	--color-shadow: rgba(0, 0, 0, 0.2);
	--color-header-gradient: rgb(19, 30, 30);

	--bg-header: linear-gradient(-90deg, var(--color-header-gradient), var(--color-primary));

	--size-bar: 250px;
	--size-profile: 100px;
	--size-nav-link-size: 65px;
	--size-header: 300px;
	--size-education: 110px;
	--size-skill: 350px;
	--size-menu-height: 50px;
}

html {
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	height: 100vh;
}

#svg-data {
	display: none;
}

/* bar */

#bar {
	display: flex;
	position: fixed;
	flex-direction: column;
	background: var(--color-secondary);
	border-right: solid var(--color-bar-primary) 0;
	border-bottom: solid var(--color-bar-primary) 2px;
	height: var(--size-menu-height);
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

#bar.toggle {
	height: auto;
}

#profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: dotted var(--color-bar-primary) 1px;
	height: var(--size-menu-height);
	flex-shrink: 0;
}

#profile a {
	display: none;
}

#profile a.name {
	display: initial;
	text-decoration: none;
}

#profile a.name:hover {
	text-decoration: underline;
	color: var(--color-bar-primary);
}

#profile a:hover img {
	opacity: 0.9;
}

#profile .name {
	color: white;
	text-align: center;
}

#profile .email {
	height: 0;
}

#profile .email:hover {
	text-decoration: underline;
}

@media only screen and (min-width: 768px) {
	#bar {
		width: var(--size-bar);
		border-right-width: 0;
		border-bottom-width: 2px;		
		height: 100vh;
	}

	#bar.toggle {
		height: 100vh;
	}

	.toggle #profile, #profile {
		height: calc(var(--size-profile) + 100px);
	}

	#profile a {
		display: initial;
	}

	#profile .name {
		margin-top: 10px;
		height: auto;
	}

	#profile img {
		width: var(--size-profile);
		height: var(--size-profile);
		object-fit: cover;
		border-radius: 100%;
		filter: grayscale(0.4);
	}

	#profile .email {
		font-size: smaller;
		color: var(--color-bar-primary);
		text-decoration: none;
		height: auto;
	}
}

/* navigation */

nav {
	flex-grow: 1;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	width: 100%;
	height: var(--size-nav-link-size);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	color: var(--color-bar-primary);
	background: var(--color-shadow);
}

/* links */

#links {
	display: none;
}

@media only screen and (min-width: 768px) {
	#links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 20px;
		padding: 5px;
	}

	#links a {
		display: block;
		width: 35px;
		height: 35px;
		color: white;
		margin: 5px;
	}

	#links a svg {
		width: 100%;
		height: 100%;
	}

	#links a:hover {
		color: var(--color-bar-primary);
	}
}

/* menu toggle button */

#toggle-menu {
	position: absolute;
	display: flex;
	right: 0;
	top: 0;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;
	width: calc(var(--size-menu-height) - 2px);
	height: calc(var(--size-menu-height) - 2px);
	background-color: var(--color-shadow);
	border: none;
	margin: 1px;
}

.toggle #toggle-menu, #toggle-menu:hover {
	color: var(--color-bar-primary);
}

#toggle-menu svg {
	height: calc(100% - 20px);
	width: calc(100% - 20px);
}

@media only screen and (min-width: 768px) {
	#toggle-menu {
		display: none;
	}
}

/* main */

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin-top: var(--size-menu-height);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

@media only screen and (min-width: 768px) {
	main {
		margin-left: var(--size-bar);
		margin-top: 0;
	}
}

main a {
	color: var(--color-primary);
	font-weight: 500;
	text-decoration: none;
}

main a:hover {
	text-decoration: underline;
}

/* main header */

main header {
	width: 100%;
	height: var(--size-header);
	min-height: 300px;
	background: var(--bg-header);
	color: white;
	text-shadow: 0 0 20px black;
}

main header section {
	background-image: url("graphy.png");
	height: calc(100% - 20px);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: end;
}

main header h1 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 3rem;
}

main header h1 a {
	color: white;
}

main section {
	padding: 10px;
}

@media only screen and (min-width: 768px) {
	main header section {
		height: calc(100% - 40px);
	}

	main section {
		padding: 20px 20px 20px 30px;
	}
}

main > section {
	max-width: 1300px;
}

main section h2 {
	margin: 0;
	padding: 0;
}

main p {
	line-height: 1.4rem;
}

/* section about */

#about ul {
	margin: 0;
	padding: 0 0 0 30px;
}

#about ul li {
	margin-top: 8px;
}

/* experience and education list */

.section-list {
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

.section-list li {
	list-style-type: none;
	margin-top: 1px;
	display: flex;
	border-bottom: dotted gray 1px;
}

.section-list li:first-of-type {
	border-top: dotted gray 1px;
}

.section-list li .icon {
	position: relative;
	width: 80px;
	height: 80px;
	background-color: var(--color-secondary);
	border-radius: 100%;
	margin: 20px 5px;
	flex-shrink: 0;
}

.section-list li .icon svg {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	color: white
}

.section-list li .data {
	padding: 20px 20px 20px 10px;
	display: flex;
	flex-direction: column;
}

.section-list li .data .name {
	font-size: large;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

.section-list li .data .details {
	color: var(--color-secondary);
	padding: 5px 0px;
	flex-grow: 1;
}

/* experience specifics */

.tags {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.tags div {
	font-size: small;
	padding: 3px 8px;
	margin-right: 5px;
	margin-top: 5px;
	color: white;
	background: var(--color-primary);
	border-radius: 5px;
}

.tags div.year {
	background-color: var(--color-secondary);
}

/* education specifics */

#education li .data .date {
	text-transform: uppercase;
}

[data-school-type]:before {
	position: absolute;
	content: attr(data-school-type);
	color: crimson;
	text-shadow: 0 0 5px black;
	font-weight: bold;
	font-size: smaller;
	transform: rotate(-17deg);
	top: calc(100% - 22px);
	width: calc(100% + 20px);
	left: -5px;
	text-align: center;
}

/* section skills */

.skills-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	color: white;
}

.skills-list > li {
	width: var(--size-skill);
	background: var(--color-secondary);
	box-shadow: 0 5px 10px #888888;
	border-radius: 5px;
	color: white;
	margin: 5px;
}

.skills-list .name {
	text-transform: uppercase;
	text-align: center;
	font-weight: bolder;
	border-bottom: dotted var(--color-bar-primary) 1px;
	padding: 20px;
}

.skills-list li {
	list-style-type: none;
}

.skills-list > li > ul {
	margin: 15px;
	padding: 0;
}

.skills-list a {
	color: var(--color-bar-primary);
}

@media only screen and (min-width: 768px) {
	.skills-list > li {
		margin: 10px;
	}
}

/* section hobbies */

.hobbies-list {
	margin: 0;
	padding: 0;
	color: var(--color-secondary);
}

.hobbies-list li {
	color: black;
	list-style-type: none;
	margin: 10px;
}

/* footer */

footer {
	padding: 10px;
}

@media only screen and (min-width: 768px) {
	footer {
		padding: 20px;
	}
}

/* check list */
.check-list > li {
	position: relative;
}

.check-list > li:before {
	display: inline-block;
	position: relative;
	content: "";
	transform: rotate(-45deg);
	margin: 7px;
	margin-right: 10px;
	left: 0;
	top: 2px;
	width: 14px;
	height: 7px;
	background: transparent;
	border-left-style: solid;
	border-left-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: currentColor;
	border-radius: 1px;
}
